<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILE</title>
</head>
<body>
    <form action="/files" method="POST">
        <p>report file</p>
        <% for(var i = 0; i < file.length; i++) { %>
            <% if(file[i].report_id != 0) { %> 
                <b><%=file[i].id%>.</b> <a href="/user/reportFiles/<%=file[i].path%>"><%=file[i].path%></a>
                <input type="checkbox" name="files" value="<%=file[i].path%>">
                <a href="/file/<%=file[i].id%>">Download</a>
                <br>
            <% } %> 
        <% } %>
        <br>
        
        <p>notice file</p>
        <% for(var i = 0; i < file.length; i++) { %>
            <% if(file[i].notice_id != 0) { %>
                <b><%=file[i].id%>.</b> <a href="/user/noticeFiles/<%=file[i].path%>"><%=file[i].path%></a>
                <input type="checkbox" name="files" value="<%=file[i].path%>">
                <a href="/file/<%=file[i].id%>">Download</a>
                <br>
            <% } %> 
        <% } %>
        <br>

        <input type="submit">
    </form>

    <br>
</body>
</html>