<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILE</title>
</head>
<body>
    <form action="/files" method="POST">
        <p>report file</p>
        <% for(var i = 0; i < reportFile.length; i++) { %>
            <b><%=reportFile[i].id%>.</b> <a href="/user/reportFiles/<%=reportFile[i].path%>"><%=reportFile[i].path%></a>
            <input type="checkbox" name="files" value="<%=reportFile[i].path%>">
            <a href="/file/<%=reportFile[i].id%>">Download</a>
            <br>
        <% } %>
        <br>
        
        <p>notice file</p>
        <% for(var i = 0; i < noticeFile.length; i++) { %>
            <b><%=noticeFile[i].id%>.</b> <a href="/user/noticeFiles/<%=noticeFile[i].path%>"><%=noticeFile[i].path%></a>
            <input type="checkbox" name="files" value="<%=noticeFile[i].path%>">
            <a href="/file/<%=noticeFile[i].id%>">Download</a>
            <br>
        <% } %>
        <br>

        <input type="submit">
    </form>

    <br>
</body>
</html>