<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILE</title>
</head>
<body>
    <form action="/files" method="GET">
        <p>report file</p>
        <% for(var i = 0; i < report_file.length; i++) { %>
            <b><%=report_file[i].id%>.</b> <a href="/user/reportFiles/<%=report_file[i].path%>"><%=report_file[i].path%></a>
            <input type="checkbox" name="files" value="<%=report_file[i].path%>">
            <a href="/file/<%=report_file[i].id%>">Download</a>
            <br>
        <% } %>
        <br>
        
        <input type="hidden" name="report_id" value="1">
        <input type="submit">
    </form>
    <form action="/files" method="GET">
        <p>notice file</p>
        <% for(var i = 0; i < notice_file.length; i++) { %>
            <% if(notice_file[i].notice_id != 0) { %>
                <b><%=notice_file[i].id%>.</b> <a href="/user/noticeFiles/<%=notice_file[i].path%>"><%=notice_file[i].path%></a>
                <input type="checkbox" name="files" value="<%=notice_file[i].path%>">
                <a href="/file/<%=notice_file[i].id%>">Download</a>
                <br>
            <% } %> 
        <% } %>
        <br>
        <input type="hidden" name="notice_id" value="1">
        <input type="submit">
    </form>

    <br>
</body>
</html>